#up_header {
    background: #000;
    height: 60px;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
}

.center_wrap {
    width: 100%;
    margin: auto;
    display: table;
}

#logo {
    margin-top: 20px;
    float: left;
}

#mainmenu {
    padding-top: 12px;
    float: right;
}

#mainmenu .nav {
    float: left;
    width: 100%;
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
}


#mainmenu .nav li {
    float: left;
    /* margin-right: 10px; */
    position: relative;
    display: block;
}



#down_header {
    background: #353232;
    /*height: 40px;*/ /* убрал */
    min-height: 40px;
    width: 100%;
}


#navigator {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 20px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    color: #FFFFFF;
}


#navigator ul li {
    float: left;
    padding-left: 0;
}


#mainmenu ul li.item-102 a {
    visibility: hidden;
}


#mainmenu .nav li a {
    display: block;
    color: #a8a8a8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11pt;
}

#mainmenu .nav ul {
    list-style: none;
    position: absolute;
    left: -9999px;
    z-index: 9999;
    opacity: 0;
    -webkit-transition: 0.25s linear opacity;
}

#mainmenu .nav li a {
    padding: 10px;
}

#navigator a, a:link, a:visited, .menu a, a:link, a:visited {
    outline: none;
    text-decoration: none;
    color: #FFFFFF;
}

#search {
    margin-top: 5px;
    float: right;
}

#search input {
    outline: none;
    float: left;
}


#mod-search-searchword {
    background: black;
    border: none;
    color: #fff;
    padding-left: 13px;
    border-radius: 9px 0px 0px 9px;
    height: 28px;
}


div.mod_search89 input[type="search"] {
    width: auto;
}


input[type="search" i] {
    appearance: searchfield;
    box-sizing: border-box;
    padding: 1px 2px;
}



body {
    min-width: 1280px;
    font-family: Lato;
    font-size: 11pt;
    margin: 0;
}



ul {
    padding-left: 0;
    margin-top: 0px;
    list-style: none;
}



li a:visited {
    color: black;
}



#category-ul {
    /* box-sizing: border-box; */
    width: 100%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #353232;
    font-size: 21px;
    margin-bottom: 50px;
}


#category-ul > li {
    /* box-sizing: border-box; */
    /* float: left; */
    width: 25%;
    /* margin-right: 40px; */
    margin-bottom: 100px;
    vertical-align: top;
    /* border:#353232 1px solid; */
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 10px;
    border-radius: 10px;
    padding: 20px;
}


/* #category-ul > li:nth-child(3n+1) {
    padding-left: 70px;
    clear: left;
} */



/* #category-ul > li:nth-child(3n+2) {
    padding-left: 35px;
    padding-right: 35px;
} */


/* #category-ul > li:nth-child(3n+3) {
    padding-right: 70px;
} */


#category-ul > li > .children > li {
    line-height: 22px;
    margin-left: 0;
    margin-top: 2px;
}


#categories .children li {
    margin-left: 26px;
    list-style: none;
    color: #353232;
    font-size: 15px;
}


#categories a {
    color: #353232;
}


#categories a:hover {
    text-decoration: underline;
}


#divtitle {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 70px;
    color: #353232;
    font-size: 36px;   
}

.children.closed {
    display: none;
}


.opener {
    display: inline-block;
    line-height: 15px;
    user-select: none;
    position: relative;
    top: 1px;
    margin-right: 3px;
    font-family: 'Anonymous Pro', monospace, monospace;;
    font-size: 24px;
}


.opener:hover {
    cursor: pointer;
}