#up_header {
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 10px;
    margin-bottom: 10px;
    background: #fff;
    height: 60px;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
}


.center_wrap {
    width: 100%;
    margin: auto;
    display: table;
}


#logo {
    margin-top: 20px;
    float: center;
}


#mainmenu {
    padding-top: 12px;
    float: right;
}


#mainmenu .nav {
    float: left;
    width: 100%;
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
}


#mainmenu .nav li {
    float: left;
    /* margin-right: 10px; */
    position: relative;
    display: block;
    color: #000;
}


#down_header {
    /*height: 40px;*/ /* убрал */
    min-height: 40px;
    width: 100%;
    color: #000;
}


#navigator {
	width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 20px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    color: #000;
}


#navigator ul li {
    float: left;
    padding-left: 0;
}


#mainmenu ul li.item-102 a {
    visibility: hidden;
}


#mainmenu .nav li a {
    display: block;
    color: #a8a8a8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11pt;
}


#mainmenu .nav ul {
    list-style: none;
    position: absolute;
    left: -9999px;
    z-index: 9999;
    opacity: 0;
    -webkit-transition: 0.25s linear opacity;
}


#mainmenu .nav li a {
    padding: 10px;
}


#navigator a, a:link, a:visited, .menu a, a:link, a:visited {
    outline: none;
    text-decoration: none;
    color: #323232;
}


#search {
    margin-top: 5px;
    float: right;
}


#search input {
    outline: none;
    float: left;
}


#mod-search-searchword {
    background: black;
    border: none;
    color: #fff;
    padding-left: 13px;
    border-radius: 9px 0px 0px 9px;
    height: 28px;
}


div.mod_search89 input[type="search"] {
    width: auto;
}


input[type="search" i] {
    appearance: searchfield;
    box-sizing: border-box;
    padding: 1px 2px;
}


/***********************************************/


body {
    width: max-content;
    min-width: 100%;
    font-family: arial, helvetica,sans-serif;
    font-size: 11pt;
    margin: 0;
}


.main_content {
	display: none;
	margin-top: 20px;
	padding: 0;
	max-width: 2500px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}



.filt_label input {
	margin-top: 1px;
	position: absolute;	
	z-index: -1;
    opacity: 0;
}


/*#search_form {
	text-align: right; 
	margin-right: 30px;
}*/


button:hover {
	cursor: pointer;
}


button:active {
	background-color: #a8a8a8;
}


div#reset_box {
	display: inline-block;
	margin-bottom: 8px;
}


button#reset_button {
	width: 200px;
	margin-left: 20px;
  margin-bottom: 10px;
	border-radius: 3px;
	font-weight: bold;
	cursor: pointer;
	background-color: #e22323;
  border: none;
	color: #fff;
}


button#reset_button:hover {
	/*color: white;*/
	/* box-shadow: 0px 0px 10px #9e9e9ed0; */
}


button#reset_button:active {
	background-color: #b31616;
}


button#reset_button:focus {
	outline: none;
}


div#inf_and_search {
	width: 100%;
	user-select: none;
}


div#search_tab {
	float: right;
	margin-right: 15px;
	display: inline-block;
	text-align: right;
	width: 325px;
	min-width: 20px;
}


input#element_search_bar {
	/* box-sizing: border-box; */
	height: 30px;
	width: 75%;
	max-width: 400px;
	border-radius: 4;
	border: 1px solid black;
	/* box-shadow: 2px 2px 2px grey; */
}


input#element_search_bar:focus {
	outline: none;
}


#search_form span {
	position: relative;
}


#search_form span:before {
	position: absolute;
	font-size: 18px;
	color: #333;
	right: 6px;
	content: "×";
	width: 20px;
	text-align: center;
	cursor: pointer;
	line-height: 30px;
}


#element_search_bar[disabled] {
	background-color: #f0f0f0;
	border: 2px solid grey;
	box-shadow: none;
	color: black;
	font-weight: bold;
}


#element_search_bar[disabled] + span:before {
	color: #bf0000;
}


#search_form {
	width: 100%;
}


div#number_of_displayed_elements {
	position: relative;
	top: 6px;
	left: 25px;
	display: inline-block;
	font-style: italic;
}



button#element_search {
	border-radius: 4;
}



.dropdown_header {
	/* box-shadow: 0px 0px 3px black; */
	display: inline-flex;
	position: relative;
	padding: 6px 2px 6px 2px;
	line-height: 20px;
	box-sizing: border-box;
	width: 100%;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 10px;
	background-color: #fff;
  border-radius: 4px;
	/* background: linear-gradient(to right, #aaa, #ccc); */
}


.dropdown_header:hover {
	cursor: pointer;
}


.dropdown_header:before {
	/* padding-right: 4px; */
  padding-left: 4px;
	content: "▼";
	color: #222;
}


.filt_label {
	padding-top: 4px;
	padding-bottom: 1px;
	position: relative;
	display: block;
}


.filt_label:hover {	
	cursor: pointer;
	color: red;
}


.filt_label:hover > span:before {	
	border-color: red;
}

/*thead th:first-child { border-bottom-left-radius: 5px; }
thead th:last-child  { border-bottom-right-radius: 5px; }*/


.filt_label > span {
    display: inline-flex;
    outline: none;
}


.filt_label > span:before {
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #fff;
    content: '';
    border: 1px solid #aaa;
    width: 14px;
    height: 14px;
    top: -2px;
    position: relative;
    margin: 2px 7px 0px 4px;
    background-repeat: no-repeat;
    box-sizing: border-box;
}


button {
	height: 30px;
}


.inp_label:checked + span:before {
	background-image: url("../images/chkmrk.svg");
}


.incl_inp:checked + span:before {
	background-image: url("../images/chkmrk.svg");
}


.filt_label_checked {
	background: #e5e5e5;
}


.filters_and_elements {
	font-family: Lato;
	font-size: 13px;
}


#filters {
    float: left;
    margin-left: 13px;
    margin-bottom: 50px;
    width: 207px;
	user-select: none;
	/*box-sizing: border-box;*/
}


.filter {
	margin-bottom: 15px;
  box-shadow: rgb(0 0 0 / 30%) 0px 4px 10px;
  /* border: 1px solid #999; */
  border-radius: 4px;
}


.filter_opened .filter_select {
	padding-left: 6px;
	padding-top: 10px;
	padding-bottom: 4px;
	display: block;
	max-height: 224px;
	overflow-y: auto;
}


.filter_opened .dropdown_header:before {
	padding-right: 2px;
	content: "▲";
}


th {
	position: relative;
}


.filter_select {
	display: none;
}


/*[title]{
    position:relative;
}
[title]:after{
    content:attr(title);
    color: #fff;
    background: #e5dbcc;
    padding: 2px;
    position: absolute;
    left: -9999px;
    opacity: 0;
    bottom: 90%;
    width: 150px;
    white-space: owrap;
    -webkit-transition: 0.25s linear opacity 1s;
    transition: 0.25s linear opacity 1s;
    transform-origin: bottom;
}
[title]:hover:after{
    left: 10px;
    opacity:1;
}*/


ul {
	padding-left: 0;
	margin-top: 0px;
	list-style: none;
	margin-bottom: 0px;
}


li a:visited {
    color: black;
}


#categories {
    margin: 25px 0 25px 250px;
    font-size: 1.4em;
}


table {
	z-index: 100;
	min-width: calc(100vw - 350px);
	table-layout: fixed;
	border-spacing: 0;
	border-top: 2px solid #5a5a5a;
	text-align: left;
}


#table_elements {
	display: inline-table;
	margin-right: 15px;
}


#table_elements thead {
	visibility: hidden;
}


.range {
	min-width: 100px;
}


tbody tr {
	height: 65px;
}


td {
	/*word-break: break-all;*/
	vertical-align: top;
}


td, th {
	box-sizing: border-box;
	/*min-width: 150px;*/
	height: 25px;
	padding: 10px 10px 10px 5px;
	border-bottom: 1px solid #e0e0e0;
}


.unprom {
	color: #999;
}


.removed {
	text-decoration: line-through;
}


.sng {
	border: 2px solid lightgrey;
}


.excluded {
	border: 2px solid pink;
}


thead tr {
	background: rgb(238, 238, 238);
	height: 80px;
}


tbody tr:hover {
	background-color: rgb(240, 245, 255);
}



#sticky_div {
	position: relative;
	margin-right: 70px;
	min-width: 100%;
}


#sticky_table {
	position: absolute;
}


#div_table {
	/*overflow-x: scroll;*/

	    width: max-content;
	margin-left: 240px;
	margin-bottom: 100px;
}


.warn_inp {
	border: 2px solid red;
	border-radius: 3px;	
}


div.from, div.to {
	padding: 6px; 
	text-align: center;
	position: relative;
}


.num_inp + span, .num_inp + span {
	position: relative;
	left: -2px;
}


.filter_select > button {
	display: block;
	margin: auto;
	height: 25px;
	margin-top: 4px;
	margin-bottom: 8px;
}


.back_to_top {
	border-radius: 5px;
	position: fixed;
	height: 60px;
	bottom: 50%;
	right: 1px;
	background-color: black;
	opacity: 0.4;
	z-index: 1000;
	display: none;
}


.back_to_top a {
	display: block;
	font-size: 14px;
	font-weight: bold;
	color: red;
	opacity: 0.5;
	margin-right: 5px;
	margin-left: 5px;
	user-select: none; 
}


.back_to_top:hover {
	background-color: black;
	cursor: pointer;
	opacity: 1;
}


.back_to_top img {
	display: block;
	user-select: none;
	margin-right: auto;
	margin-left: auto;
}


div#show_box {
	position: absolute;
	background-color: #353232;
	width: 180px;
	height:36px;
	top: 190px;
	left: 222px;
	z-index: 1000;	
	text-align: center;
	border-radius: 4px;
	display: none;
}


div#warn_inp {
	display: none;
	top: 170px;
	left: 225px;
	font-size: 10pt;
	text-align: left;
	position: absolute;
	width: 160px;
	/* border: 3px solid red; */
	background-color: white;
	padding: 4px;
	z-index: 1;
}


div#warn_inp:before {
    display: block;
    content: "";
    border-left: 3px solid red;
    border-bottom: 3px solid red;
    background-color: white;
    transform: rotate(45deg);
    height: 10px;
    width: 10px;
    top: 1px;
    position: absolute;
    left: -9px;
    z-index: -1;
    top: 5px;
}


button#show_button {
	position: relative;
	box-sizing: border-box;
	width: 140px;
	top: 2px;
	height: 30px;
	/* background: linear-gradient(to right, #aaa, #eee); */
	background: #353232;
	border: 0;
	border-radius: 2px;
	color: white;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1px;
	/* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}


#show_button:hover {
	color: #ccc;
	/* box-shadow: 0 0 4px red; */
}

/* #show_button:active {
	color: #700008;
} */


/* button#show_button:focus {
	box-shadow: 0 0 4px red;
	outline: none;
} */

#arr_show {
	position: absolute;
	top: 4px;
	left: -8px;
	width: 14px;
	height: 30px;
	background: url("../images/show_box_arrow.svg") no-repeat;
}


#show_box_close {
	position: absolute;
	top: -12px;
	left: 164px;
	width: 30px;
	height: 30px;
	background: url("../images/close_show_box.svg") no-repeat;
}


#show_box_close:hover {
	cursor: pointer;
}


div#stat_show_box {
	/* background-color: black; */
	margin-top: 14px;
	height: 40px;
    text-align: right;
	/*width: 200px;
	text-align: center;
	border-radius: 4px;*/
	/* box-shadow: 5px 5px 10px #111; */

}


button#stat_show_button {
	box-sizing: border-box;
	position: relative;
	width: 200px;
	top: 5px;
	height: 30px;
	background: #56d661;
  border: none;
  color: #fff;
	/* border: 0; */
	/*color: white;*/
	font-weight: bold;
	border-radius: 4px;
	font-size: 14px;
	/*letter-spacing: .5px;*/
	/*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
}


/* button#stat_show_button:hover { */
	/* background: #fff; */
	/* border-radius: 0; */
	/* box-shadow: 1px 1px 10px red; */
/* } */


button#stat_show_button:active {
	background: #3cb146;
	/* box-shadow: 1px 1px 25px red; */
}


button#stat_show_button:focus {
	outline: none;
}


div#load_items {
	width: 100%;
	box-sizing: border-box;
	margin-right: 40px;
	font-size: 14px;
	text-align: center;
	line-height: 35px;
	background-color: #E1EDF9;
	border: 2px solid #333;
	border-radius: 3px;
	font-weight: bold;
	user-select: none;
	color: #333;
}


div#load_items:hover {
	border-color: black;
	cursor: pointer;
	background-color: #D1E2F5;
	color: black;
}


div#load_items:after {
	display: inline-block;
	content: "";
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	transform: rotate(-45deg);
	height: 6px;
	width: 6px;
	position: relative;
	left: 5px;
	bottom: 2px;
	color: black;
}



div.warn_box {
	display: none;
	top:170px;
	left: 225px;
	font-size: 10pt;
	text-align: left;
	position: absolute;
	width: 160px;
	border: 3px solid red;
	background-color: white;
	padding: 4px;
	z-index: 1;
}



div.warn_box:before {
    display: block;
    content: "";
    border-left: 3px solid red;
    border-bottom: 3px solid red;
    background-color: white;
    transform: rotate(45deg);
    height: 10px;
    width: 10px;
    top: 1px;
    position: absolute;
    left: -9px;
    z-index: -1;
    top: 5px;
}


.obxod {
	margin-right: 100px;
}

a.opener {
	text-decoration: underline;
	color: black;
}


.num_inp {
	width: 102px;
	padding-left: 20px;
	box-sizing: border-box;
}


.range_label {
	position: absolute;
	top: .6rem;
    left: 51px;
}



input:disabled + span:before {
	border-color: lightgrey;
}


input:disabled + span, input:disabled + .range_label {
	color: lightgrey;
}



.filt_label:hover input:disabled + span:before {
	border-color: lightgrey;
}


/* for radio inputs */
input[type=radio] + span:before {
	border-radius: 50%;
}

input[type=checkbox]:checked + span:before {
	background-image: url("../images/chkmrk.svg");
}


input[type=radio]:checked + span:before {
	background-image: url("../images/circle.svg");
}


.preloader {
    height: calc(100vh - 110px);
    z-index: 1000;
    background: center no-repeat url(../images/loading.gif) #fff;
    /*margin-left: 240px;*/
    margin: 0 auto;
}



.load_preloader {
    /*height: 40px;
    background: repeat-x url(../images/items_loading.gif) #fff;
    background-position-y: top;*/
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    background: center no-repeat url(../images/loading.gif) #fff;
}



/*
*::-webkit-scrollbar {
width: 7px;
}
*::-webkit-scrollbar-thumb {
background-color: black;
border: 1px solid black;
background: red;
}
*::-webkit-scrollbar-track {
background: #e0e0e0;
}*/



#filterform {
    border-top: 2px solid #5a5a5a;
    direction: rtl;
    max-height: 1000px;
    overflow-y: scroll;
    box-shadow: 1px 1px 2px black;
    margin-top: 0px;
    box-sizing: border-box;
}



#filterform > * {
direction: ltr;
}



.filter:last-child {
margin-bottom: 0px;
}



form#filterform::-webkit-scrollbar {
    width: 8px;
}



form#filterform::-webkit-scrollbar-thumb {
    background-color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background: red;
}



form#filterform::-webkit-scrollbar-track {
    background: #e0e0e0;
}



form#filterform *::-webkit-scrollbar {
    width: 8px;
}



form#filterform *::-webkit-scrollbar-thumb {
    background-color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background: red;
}



form#filterform *::-webkit-scrollbar-track {
    background: #e0e0e0;
}